<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UISegment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>99B373851D2B3E3C00321283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99B3739E1D2B3E3D00321283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99B373A91D2B3E3D00321283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
